{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}



{#}
<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
{#}

{#}

{#}

    {#}
        {% for category in categories %} 
            {% if category.parent == null %}
        <div class="col-12">
                <h2>{{ category.name }}</h2>
        </div>
            {% else %}
            <div class="col-4 mb-3">
            <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{category.name}}</h5>
                        <a href="{{path('app_categorieslist', {category:category.name})}}" class="btn btn-primary">Voir les produits</a>
                    </div>
            </div>
                    <a href="#"></a>
            </div>
                {% endif %}
                {% endfor %}
    </section>

    {#}
	<h1>Products index</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom du produits</th>
                        <th>QuantityPerUnit</th>
                        <th>Prix</th>
                        <th>quantité en stock</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.ProductName }}</td>
                        <td>{{ product.QuantityPerUnit }}</td>
                        <td>{{ product.UnitPrice }}</td>
                        <td>{{ product.UnitsOnStock }}</td>
                        <td> <a href="{{ path('app_home', {'id': product.id}) }}" class="btn btn-primary">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter</a>
                    </tr>
                {% endfor %}

</main>
{% endblock %}
