{% extends 'base.html.twig' %}

{% block body %}
    <h2>Merci pour votre commande !</h2>
    <p>Bonjour {{ order.user.firstname }},</p>
    <p>Nous avons bien reçu votre commande <strong>{{ order.reference }}</strong> passée le {{ order.createdAt|date('d/m/Y H:i') }}.</p>

    <h3>Détails de la commande :</h3>
    <ul>
        {% for item in order.orderItems %}
            <li>{{ item.quantity }} × {{ item.Product.name }} = {{ item.total|number_format(2, ',', ' ') }} €</li>
        {% endfor %}
    </ul>

    <p><strong>Total :</strong> {{ order.total|number_format(2, ',', ' ') }} €</p>

    <p>Nous vous remercions de votre confiance.</p>
{% endblock %}
